@import url('https://fonts.googleapis.com/css2?family=Figtree:wght@500;800&display=swap');

:root {
    /* Colors */

    --yellow: hsl(47, 88%, 63%);
    --white: hsl(0, 0%, 100%);
    --gray-500: hsl(0, 0%, 42%);
    --gray-950: hsl(0, 0%, 7%);

    /* Typography */

    --font-family: 'Figtree', sans-serif;
    --font-weight-regular: 500;
    --font-weight-bold: 800;
    --font-size: 16px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--font-family);
    background-color: var(--yellow);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 20px;
}

p {
    font-size: var(--font-size);
}

.card {
    background-color: var(--white);
    padding: 20px;
    max-width: 375px;
    border-radius: 20px;
    border: 1px solid var(--gray-950);
    box-shadow: 8px 8px 0 var(--gray-950);
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 12px 12px 0 var(--gray-950);
}

.card-image img {
    width: 100%;
    border-radius: 12px;
}

.category-tag {
    display: inline-block;
    background-color: var(--yellow);
    color: var(--gray-950);
    font-weight: var(--font-weight-bold);
    padding: 4px 10px;
    border-radius: 4px;
    margin-top: 16px;
}

.publish-date {
    font-size: 14px;
    color: var(--gray-950);
    margin: 10px auto;
}

.card-title {
    font-size: 20px;
    font-weight: var(--font-weight-bold);
    color: var(--gray-950);
    margin: 10px auto;
    cursor: pointer;
    transition: color 0.2s ease-in-out;
}

.card-title:hover {
    color: var(--yellow);
}

.card-description {
    color: var(--gray-500);
    margin: 10px auto;
    font-weight: var(--font-weight-regular);
}

.card-author {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.author-image {
    width: 32px;
}

.author-name {
    font-weight: var(--font-weight-bold);
    color: var(--gray-950);
    margin-left: 10px;
}

@media (min-width: 768px) {
    .card {
        max-width: 400px;
    }
}

@media (min-width: 1440px) {
    .card {
        max-width: 420px;
    }
}